.domain-container {
  width: 100%;



  .domain {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 30px;
      font-weight: 600;
    }
  }

  .get-domains {
    display: flex;
    justify-content: center;
    height: 48px;
    font-size: 30px;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    width: fit-content;
    margin: auto;

    input {
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 24px;
      text-align: center;
      padding: 0 4px;
    }

    .drop {
      border: none;
      outline: none;
      width: fit-content;
      font-size: 20px;
      background-color: transparent;
      margin-right: 16px;
    }

    button {
      border-radius: 0 4px 4px 0;
    }
  }

  .domain-add-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    margin-top: 24px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    gap: 16px;

    .adjust {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 16px;

      .any {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .flex {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 16px;

          h3 {
            font-size: 24px;
            text-transform: capitalize;
          }

          b {
            font-size: 24px;
            text-transform: capitalize;
            color: var(--primary);
          }

          Button {
            display: inline-flex;
            padding: 0px 16px;
            justify-content: center;
            align-items: center;
            gap: 10px;
          }
        }

        .adjustment {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;

          img {
            width: 32px;
            height: 32px;
          }
        }
      }
    }

    .domains-list {
      display: flex;
      flex-wrap: wrap;
      grid-template-columns: auto auto auto auto;
      gap: 24px;

    }
  }

  .dot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 16px;
    gap: 20px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;

    .gap {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .domain-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;

        .domain-view {
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          gap: 12px;

          .domains-title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;

            a {
              border: 1px dashed gray;
              padding: 0 8px;
              border-radius: 20px;

              &:nth-child(2) {
                all: unset;

                svg {
                  cursor: pointer;
                  transition: 0.2s ease-in-out;

                  &:hover {
                    transform: scale(1.5);
                  }
                }
              }
            }
          }

          .domain-status {
            display: flex;
            justify-content: flex-start;
            gap: 8px;
          }
        }

        .domain-edit-view {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 24px;
          align-items: flex-end;

          span {
            font-size: 12px;
            color: var(--input);
          }

          .domain-edit-center {
            svg {
              margin: 0 0 0 16px;
              cursor: pointer;
              transition: 0.2s ease-in-out;

              &:hover {
                transform: scale(1.5);
              }

            }
          }
        }
      }


    }

    .min {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 20px;


      span {
        font-size: 10px;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 300;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .dot {
      width: 100%;
      justify-content: space-between;
    }

    .domain-add-list {
      .adjust {
        .any {
          .flex {
            Button {
              width: 25%;
            }
          }
        }
      }
    }

    .get-domains {
      flex-direction: column;
      text-align: center;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }

  .map-domain-to-lab {
    background-color: rgba(0, 0, 0, 0.171);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);

    .domain-map-container {
      border: 1px solid gray;
      padding: 20px;
      border-radius: 4px;
      background-color: var(--white);
      width: max(400px);

      h3 {
        b {
          color: var(--primary);
          font-weight: 900;
          text-transform: lowercase;
        }

        text-transform: capitalize;
      }

      i {
        color: var(--input);
        font-size: 14px;
      }

      .folder-or-port {
        margin-top: 16px;
        text-transform: capitalize;

        p {
          b {
            color: var(--info);
            cursor: pointer;
          }
        }
      }

      .map-domain-button {
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
        margin-top: 16px;
      }
    }
  }
}