.serve {
  width: 100%;
  height: 100vh;

  .info {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 10px;
  }

  .info1 {
    font-size: 14px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 8px 16px;
    border-radius: 10px;
    position: relative;
    padding-left: 24px;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   width: 10px;
    //   height: 100%;
    //   background-color: var(--info);
    //   border-radius: 20px 0 0 20px;
    // }
  }

  .main-container {
    position: relative;
    width: fit-content;

    // h1 {
    //   z-index: 1;
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%,-50%);
    //   font-size: 32px;
    // }

    .service-container {
      width: fit-content;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
      background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
      background-image: url("/my.png");
      background-size: cover;
      background-repeat: no-repeat;
      // backdrop-filter: blur(20px);
      background-position: center;
      // filter: blur(5px);
      // border: 1px solid black;
      z-index: -1;
      margin-top: 60px;

      .service {
        display: flex;
        padding: 10px;

        .sql {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 10px;
        }

        span {
          font-size: 24px;
        }
      }

      .space {
        display: flex;
        // margin-top: 10px;
        padding: 10px;
      }

      .port {
        display: flex;
        gap: 16px;
        padding: 10px;
        align-items: center;
        // justify-content: center;
      }

      .gloss {
        display: flex;
        justify-content: space-between;
        padding: 3px;
        border: 1px solid black;
        border-radius: 15px;
        border: none;
        padding: 10px;
        // border: 1px solid black;
        background-color: var(--white);
      }

      .value {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 10px;
        padding: 10px;
      }
    }
  }
}

// ==============================================[...services] style ===========================================

.database {
  width: 100%;
  height: 100vh;

  .db-card {
    font-size: 14px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 8px 16px;
    border-radius: 10px;
    position: relative;
    padding-left: 24px;

    .db-btn {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 16px;
      gap: 16px;
      border-bottom: 1px solid black;
    }
    .route-btn {
      display: flex;
      padding: 16px 8px 8px;
      gap: 16px;
    }
  }

  .db-main-container {
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    // padding: 8px 16px;
    border-radius: 10px;
    // padding-left: 24px;
    text-transform: capitalize;
    

    .left {
      width: 40%;
      // padding: 10px;
      background: #fff;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
      background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);

      h3 {
        // background-color: aqua;
        border: 1px solid black;
        border-radius: 4px;
      }
      .db-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 24px;
        padding: 0px 8px;

        .db-input {
          width: 50%;
          display: flex;


          input {
            flex: 1;
          }
          h4 {
            display: inline-block;
            background-color: var(--input);
           flex-wrap: nowrap;
          }
          
        }

        .drop {
          width: 50%;
        }
        h4 {
          // width: 50%;
          border: 1px solid black;
        }
      }

      .create {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 16px;
      }
    }

    .right {
      width: 50%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      background: #fff;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);

      h3 {
        // background-color: aqua;
        border: 1px solid black;
        border-radius: 4px;
      }
    }
  }
}

.pop {
  // width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);

  .container {
    width: 400px;
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    background-color: var(--primary);
    overflow: hidden;
    position: fixed;
    top: 30%;

    .head {
      text-transform: capitalize;
      width: 100%;
      display: flex;
      justify-content: space-between;

      h4 {
        color: white;
      }
    }

    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 10px;

      label {
        color: white;
      }

      input {
        width: 350px;
        height: 25px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .pop-btn {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
      margin-top: 16px;
    }
  }
}
