.serve {
  width: 100%;

  .info {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 10px;
  }

  .info1 {
    font-size: 14px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 8px 16px;
    border-radius: 10px;
    position: relative;
    padding-left: 24px;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   width: 10px;
    //   height: 100%;
    //   background-color: var(--info);
    //   border-radius: 20px 0 0 20px;
    // }
  }

  .main-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;

    .service-container {
      width: 480px;
      border-radius: 10px;
      background: var(--white);
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
      // background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
      // background-image: url("/my.png");
      // background-size: cover;
      // background-repeat: no-repeat;
      // backdrop-filter: blur(20px);
      // background-position: center;
      // filter: blur(5px);
      // border: 1px solid black;
      padding: 8px;

      .service {
        display: flex;
        justify-content: start;
        align-items: center;

        img {
          width: 100px;
          height: 100px;
          object-fit: contain;
        }

        .sql {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 0 8px;
        }

        span {
          font-size: 24px;
          text-transform: capitalize;
        }
      }

      .space {
        padding: 0 8px;
        text-align: center;

        span {
          font-size: 14px;
          text-align: center;
        }
      }

      .port {
        display: flex;
        gap: 8px;
        padding: 8px;
        align-items: center;
        // justify-content: center;
      }

      .gloss {
        display: flex;
        justify-content: space-between;
        border: 1px solid var(--input-light);
        border-radius: 8px;
        padding: 8px;
        background-color: var(--white);
      }

      .value {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 10px;
      }
    }
  }
}

// [...services] database style
.database {
  .db-card {
    font-size: 14px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 8px 16px;
    border-radius: 10px;
    position: relative;
    padding-left: 24px;

    span {
      display: flex;
      align-items: center;
      text-align: justify;

      img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        margin-right: 16px;
      }
    }

    .db-btn {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 16px;
      gap: 16px;
      border-bottom: 1px solid black;
    }

    .route-btn {
      display: flex;
      padding: 16px 8px 8px;
      gap: 16px;

      .active {
        background-color: var(--success);
      }

      .unactive {
        background-color: transparent;
        color: var(--success);
        border: 1px solid var(--success);
      }
    }
  }
}